@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.site-header {
  width: 100%;
  height: 90px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--space-lg) calc(var(--space-2xl) * 1.2);
}

@media (max-width: 768px) {
  .site-header {
    padding: var(--space-lg);
  }
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-icon {
  width: 65px;
}

.logo-text {
  font-size: calc(var(--font-size-lg) * 1.3);
  font-weight: 700;
  font-family: "Pacifico", cursive;
}
