.doctors-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  /* place-items: center; */
  justify-content: center;
  gap: var(--space-sm);
  list-style: none;
  padding-left: 0;
  padding: var(--space-2xl);
}
